.table {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.table__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    height: 30px;
}

.table__cell {
    border: 1px solid #999;
    min-width: 250px;
    height: 30px;
    overflow: hidden;
}

input {
    border: none;
    width: 90%;
    height: 26px;
}

.learnBTN {
    background-color: orange;
}
.btnContainer {
    display: flex;
}
.btn {
    margin: 5px 5px
}