
.container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.superInput {
    width: 347px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 6px 0 4px 10px;
    border: none;
    background: #ffffff;
    outline:none;
}
.title{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #24254A;
    opacity: 0.5;
    text-align: left;
    margin: 0;
}
.line{
    background: #24254A;
    opacity: 0.2;
}

.errorInput {
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid red;
    background: lightpink;
    border-radius: 8px;
}

.error {
    color: red;
}